snippet h1 "header level 1"
=${1:header}=
endsnippet

snippet hh "header level 1"
=${1:header}=
endsnippet

snippet h2 "header level 2"
==${1:header}==
endsnippet

snippet h3 "header level 3"
===${1:header}===
endsnippet

snippet h4 "header level 4"
====${1:header}====
endsnippet
